@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --green: #309f41;
    --red: #cf171f;
    --shadow: 2px 2px 5px 0px rgba(0,0,0,0.51);
}

* {
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

*:focus {
    outline: blue solid 2px;
}
