.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float: right;
}

.navbar li a {
    border-radius: 8px;
    display: block;
    text-align: center;
    margin: auto 5px;
    padding: 14px 16px;
    background-color: lightgreen;
    color: black;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: green;
    color: white;
}
