body {
    display: grid;
    grid-template-columns: 10ch auto;
    grid-template-rows: 10% 85% 5%;
    height: 100vh;
}

header {
    grid-column: 1 / span 4;
    grid-row: 1;
}

.time {
    grid-column: 1;
    grid-row: 2;

    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

.hour {
    text-align: center;
}

.schedule {
    grid-column: 2 / span 3;
    grid-row: 2;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    position: relative;
}

@keyframes week-transition-original {
	from {
		left: 0%;	
		opacity: 100%;
	}

	to {
		left: -100%;
		opacity: 0%;
	}
}
@keyframes week-transition-new {
	from {
		left: 100%;
	}
	to {
		left: 0%;
	}
}
.week-name {
    text-align: center;
}

.schedule-week {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 8% 90%;
}

.schedules {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
}


.schedule hr {
    width: 100%;
}

.schedule-item {
   width: 100px;
   background-color: var(--green);
   position: absolute;
   border-radius: 0 0 25px 25px;
   border: 3px solid black;
}

.schedule-item.notfree {
	background-color: var(--red);
}

.schedule-item:hover {
	box-shadow: var(--shadow);
	cursor: pointer;
}

.schedule-item.notfree:hover {
	border: 3px solid black;
	cursor: not-allowed;
}

.week-selection {
    display: flex;
    flex-flow: row nowrap;
    grid-column: 2 / span 3;
    grid-row: 3;
    width: 90%;
    justify-content: space-between;
}

.week-selection div {
	display: flex;
	align-items: center;
}

.week-option {
    background-color: gray;
    border-radius: 2000px;
    height: 17px;
    width: 17px;
    border: 2px solid rgba(0,0,0,1);
    cursor: pointer;

    margin-right: 0.5rem;
}

.week-option:hover {
	box-shadow: var(--shadow);
}

.current-week {
    background-color: var(--green);
}
